<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/styleIndex.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <h1>Minhas Tarefas</h1>
      <form class="todo-form" method="post" action="/cadastrar">
          <input type="text" class="todo-input" name="nomeTarefa" placeholder="Adicionar uma nova Tarefa" required>
          <button type="submit" class="todo-submit">Adicionar</button>
      </form>
      <ul class="todo-list">
          <% atividades.forEach(element => { %>
            <li class="todo-item">
              <div class="title">
                <h2 class="todo-text"><%= element.nome %></h2>
              </div>
              <p class="todo-text">Dia do Vencimento: <%= element.dataFormatada %> </p>
              
              <% if (element.descricao !== "") { %> <p class="todo-text">Descrição: <%= element.descricao %></p> <% } %>
              <div class="actions">
                <div class="status">
                    <% 
                      let dataFormatadaDate = new Date(element.dataTo);
                      let dataHojeDate = new Date(dataHoje);  
                    %>
                    <% if (element.status == "Pendente" && dataHojeDate > dataFormatadaDate ) { %>
                      <div class="status_tarefa_a">
                        <p class="todo-status-a">Atrasada</p>

                      </div>
                      <% } else if (element.status == "Pendente") { %>
                        <div class="status_tarefa_p">
                          <p class="todo-status-p"><%= element.status %></p>
                        </div>
                    <% } else { %>
                      <div class="status_tarefa_c">
                        <p class="todo-status-c"><%= element.status %></p>
                        
                      </div>
                    <% } %>
                </div>
                  
                <div class="buttons">
                  <button class="warning" onclick="window.location.href='/editar/<%= element._id %>'">
                    <img src="/images/editar.png" width="15px" height="15px">
                  </button>
                  <button class="success" 
                          onclick="if(confirm('Deseja realmente Concluir a Tarefa?')) { window.location.href='/concluir/<%= element._id %>'; } return false;" 
                          <%= element.status === 'Concluída' ? 'disabled' : '' %>
                  >
                    <img src="/images/aceitar.png" width="15px" height="15px">
                  </button>
                  <button class="danger" onclick="if(confirm('Deseja realmente Concluir a Tarefa?')) { window.location.href='/deletar/<%= element._id %>'; } return false;">
                    <img src="/images/excluir.png" width="15px" height="15px">
                  </button>
                </div>
              </div>
            </li>
          <% }); %>
         
      </ul>
    </div>

  </body>
</html>
